@model projekt.Models.Film

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RokProdukcji" class="control-label"></label>
                <input asp-for="RokProdukcji" class="form-control" />
                <span asp-validation-for="RokProdukcji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriaId" class="control-label"></label>
                <select asp-for="KategoriaId" class="form-control" asp-items="ViewBag.KategoriaId"></select>
                <span asp-validation-for="KategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RezyserId" class="control-label"></label>
                <select asp-for="RezyserId" class="form-control" asp-items="ViewBag.RezyserId"></select>
                <span asp-validation-for="RezyserId" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Nowy" /> @Html.DisplayNameFor(model => model.Nowy)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label"> Wybierz aktorów:</label>
                <div class="form-check">
                    @foreach (var cou in ViewBag.courses)
                    {
                        <input type="checkbox" name="selectedCourses" value="@cou.CourseId" @cou.Checked />@cou.Nazwa <br />
                    }
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
